<!DOCTYPE html>
<html>
<head>
    <title>Usuarios - Flask + FastAPI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>Agregar Usuario</h1>

    <form action="/crear" method="POST">
        <input type="number" name="id" placeholder="ID" required>
        <input type="text" name="nombre" placeholder="Nombre" required>
        <input type="number" name="edad" placeholder="Edad" required>
        <button type="submit">Agregar</button>
    </form>

   <h2>Lista de Usuarios</h2>

        <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Acción</th>
        </tr>
        {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario.id }}</td>
            <td>{{ usuario.nombre }}</td>
            <td>{{ usuario.edad }}</td>
            <td>
                <a href="/eliminar/{{ usuario.id }}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>
